*{

  margin: 0;
  padding: 0;

}

.meu-container{
  padding: 0;
  border: 1px;
  min-height:100vh;
  margin: 0 auto;

  /* Flex */

  display: flex;
  flex-direction: column;

}

header{

  background-color: #0D0D0D;
  color: white;
  text-align: center;

}


main{

  background-color: #F2F2F2;
  flex-grow: 1;

}

footer{

  background-color: #0D0D0D;
  color: white;
  text-align: center;
  display: flex;
  text-decoration: none;
  display: block;
  padding-right: 1em;
  padding-top: 0.5em;

}
