<form name="turnosForm">
  <div class="form-group">
    <!-- Nome -->
    <label for='nome'> Nome: </label>
    <input type='text' name='nome' class="form-control" ng-model="turnos.nome" ng-minlength="3" ng-maxlength="25">
    <div>
      <div ng-show="turnosForm.nome.$error.minlength && turnosForm.nome.$dirty" class="alert alert-danger">
        Por favor, o Nome não tem o tamanho mínimo válido!
      </div>
      <div ng-show="turnosForm.nome.$error.maxlength && turnosForm.nome.$dirty" class="alert alert-danger">
        Por favor, o Nome não tem o tamanho máximo válido!
      </div>
    </div>
  </div>

  <!-- Botões -->
  <button type='reset' ng-click="limparBusca()" name='limpar' class="btn btn-secondary btn-lg btn-block">
    Limpar
  </button>
  <button ng-click="listar()" class="btn btn-dark btn-lg btn-block">
    Listar
  </button>
</form>


<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr align="center">
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody align="center">
      <tr ng-repeat="turno in turnos">
        <td scope="row">{{turno.id_turno}}</td>
        <td scope="row">{{turno.nome}}</td>
      </tr>
    </tbody>
  </table>
</div>
